.galeria {
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 1px 5px 15px #CCC;
    width: 15em;
    height: auto;
    border-radius: 3px;
    padding: 2em;
    margin: 1em;
    overflow: hidden;
    position: relative;
    flex: auto;
    }
.galeria img {
    max-width: 100%;
    height: auto !important;
    text-align: center;
    }

/* .galeria {
    width: 90%;
    transform: translateX(5%);
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 15px;
}

.galeria img {
    width: 100%;
    height: 100%;
    box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 19px -4px rgba(0,0,0,0.75);
    border-radius: 1rem;
}

.categoria {
    position: relative;
}

.categoria:hover {
    transform: scale(1.05, 1.05);
}

.categoria h3 {
    position: absolute;
    bottom: 0;
    background-color: rgba(52,196,204);
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    padding: 4px;
    color: white;
}*/