.tarjeta {
    box-shadow: 1px 5px 15px #CCC;
    width: 15em;
    height: auto;
    border-radius: 3px;
    padding: 2em;
    margin: 1em;
}
.tarjeta img {
    max-width: 100%;
    height: auto !important;
    text-align: center;
}
.tarjeta h3 {
    font-size: 30px;
}
.tarjeta p {
    font-size: 20px;
}