.Navbar {
    background-color: #34c4cc;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.Categorias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

.Option {
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.301);
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}

.ActiveOption {
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 20px;
    background: blue;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
}